<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    {{!-- <title>{{title}}</title> --}}
</head>

<body style="margin:0;font-family:arial">
    <tr>
        <td style="text-align:center">
           <a href="{{url}}" 
              style="display:inline-block;padding:20px;background:#00838f;text-decoration:none;color:#ffffff">{{url}}</a>
        </td>
    </tr>
</body>

</html>
